In [1]:
import sys
sys.path.append("../../../python/lib/")
from repo_analyzer import PythonAnalyzer

In [4]:
%load_ext sql
%sql mariadb://your_user:your_password@localhost/w3hacknet

In [17]:
result = %sql select * from repo limit 3;
df = result.DataFrame()
type(df)

 * mariadb://your_user:***@localhost/w3hacknet
3 rows affected.

pandas.core.frame.DataFrame

In [18]:
%%sql
select * from repo limit 3;

 * mariadb://your_user:***@localhost/w3hacknet
3 rows affected.

[(1, 'polkadot-js', 'api', 241, datetime.datetime(2018, 9, 15, 7, 11, 56), datetime.datetime(2022, 1, 27, 4, 28, 23), None, None, None, None, None, None, None),
 (2, 'ApeWorX', 'ape', 104, datetime.datetime(2021, 1, 5, 1, 2, 21), datetime.datetime(2022, 5, 17, 22, 23, 35), None, None, None, None, None, None, None),
 (3, 'mozilla', 'glam', 1, None, None, None, None, None, None, None, None, None)]

In [19]:
import mysql.connector

In [27]:
database = mysql.connector.connect(
                port=3306,
                host='localhost',
                user='your_user',
                password='your_password',
                database='w3hacknet',
                autocommit=True)

In [28]:
result = database.cursor().execute("select * from repo limit 3").fetchall()
result

AttributeError: 'NoneType' object has no attribute 'fetchall'